@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Lato');
/* CSS Document */
* {
margin: 0;
padding: 0;
}
body, html {
	height: 1000px;
}
html {
	font-family: 'Lato', sans-serif;
}
.bg {
	background-image: url("../img/mobil-baggrund.png");
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.progressbg {
  background-image: url("../img/mobil-baggrund.png");
	  /* Full height */
  height: 100%; 
	
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  overflow: scroll;

}
.logo {
	padding-top: 10px;
	padding-left: 10px;
	filter: brightness(0%);
}

.forside-tekst {
	width: 300px;
	font-size: 1.5em;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}
.navdiv {
	padding-top: 20px;
	list-style: none;
	font-size: 2em;
	width: 140px;
	margin-left: auto;
	margin-right: auto;
}
.navdivwork {
	padding-top: 20px;
	list-style: none;
	font-size: 2em;
	width: 160px;
	margin-left: auto;
	margin-right: auto;
}
.semester1 {
	font-size: 1.5em;
	padding-top: 20px;
	width: 160px;
	border-bottom: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.workbg {
	background-image: url("../img/mobil-baggrund.png");
	  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.worklogo {
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 30px;
	filter: brightness(0)
}
a:link {
	text-decoration: none;
	color: black;
}
a:visited {
	color: black;
}
.workpage {
	color: #cdcdcd;
}
.progresspage {
	color: #cdcdcd;	
}
.progresstekst {
	width: 300px;
	font-size: 1.5em;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}
.frontpageli {
	border-bottom: 1px solid black;
	text-align: center;
}
.workli {
	border-bottom: 1px solid black;
	text-align: center;
}
.navdivprogress {
	padding-top: 20px;
	list-style: none;
	font-size: 2em;
	width: 160px;
	margin-left: auto;
	margin-right: auto;	
}
.contactbg {
  background-image: url("../img/mobil-baggrund.png");
	  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	
}
.progressli {
	border-bottom: 1px solid black;
	text-align: center;
}
form {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}
label {
    display:block;
    margin-top:20px;
	font-family: "Lato";
}
textarea {
	width: 300px;
	height: 150px;
	padding-top: 5px;
	font-family: "Lato"
}
.nameemail {
	width: 150px;
	height: 30px;
}
.submitbutton {
	text-align: center;
}
input {
	font-family: "Lato"
}
.semester1text {
	color: #cdcdcd;
}
.semester1bg {
  background-image: url("../img/mobil-baggrund.png");
	  /* Full height */
  height: 135%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	
	
}
.droem {
	width: 350px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
.indhold {
	padding-top: 20px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}
.indhold p {
	font-size: 1.5em;
	width: 230px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.vejrappikon {
	width: 350px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
}
.sweetbotikon {
	width: 350px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	
}