@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Lato');
/* CSS Document */
* {
margin: 0;
padding: 0;
}
body, html {
}
html {
	font-family: 'Lato', sans-serif;
	background-color: #606060;
}
.bg {
  background-image: url("../img/mobil-baggrund.png");
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.progressbg {
	background-image: url("../img/mobil-baggrund.png");
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
.logo {
	padding-top: 10px;
	padding-left: 10px;
	filter: brightness(0%);
}

.forside-tekst {
	width: 220px;
	font-size: 1.5em;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}
.navdiv {
	padding-top: 20px;
	list-style: none;
	font-size: 2em;
	width: 140px;
	margin-left: auto;
	margin-right: auto;
}
.navdivwork {
	padding-top: 20px;
	list-style: none;
	font-size: 2em;
	width: 160px;
	margin-left: auto;
	margin-right: auto;
}
.semester1 {
	font-size: 1.5em;
	padding-top: 20px;
	width: 160px;
	border-bottom: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 50px;
}
.workbg {
	background-image: url("../img/mobil-baggrund.png");
	  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.worklogo {
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 30px;
	filter: brightness(0)
}
a:link {
	text-decoration: none;
	color: black;
}
a:visited {
	color: black;
}
.workpage {
	color: #cdcdcd;
}
.progresspage {
	color: #cdcdcd;	
}
.progresstekst {
	width: 300px;
	font-size: 1.5em;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}
.frontpageli {
	border-bottom: 1px solid black;
	text-align: center;
}
.workli {
	border-bottom: 1px solid black;
	text-align: center;
}
.navdivprogress {
	padding-top: 20px;
	list-style: none;
	font-size: 2em;
	width: 160px;
	margin-left: auto;
	margin-right: auto;	
}
.contactbg {
  background-image: url("../img/mobil-baggrund.png");
	  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	
}
.progressli {
	border-bottom: 1px solid black;
	text-align: center;
}
form {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}
label {
    display:block;
    margin-top:20px;
	font-family: "Lato";
}
textarea {
	width: 300px;
	height: 150px;
	padding-top: 5px;
	font-family: "Lato"
}
.nameemail {
	width: 150px;
	height: 30px;
}
.submitbutton {
	text-align: center;
	padding-bottom: 20px;
}
input {
	font-family: "Lato"
}
.semester1text {
	color: #cdcdcd;
}
.semester1bg {
  background-image: url("../img/mobil-baggrund.png");
	  /* Full height */
  height: 135%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	
	
}
.droem {
	width: 350px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
.indhold {
	padding-top: 20px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}
.indhold p {
	font-size: 1.5em;
	width: 230px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.vejrappikon {
	width: 350px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
}
.sweetbotikon {
	width: 350px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	
}
.navdivfrontpage {
	padding-top: 20px;
	list-style: none;
	font-size: 2em;
	width: 160px;
	margin-left: auto;
	margin-right: auto;
}
.vejrappbg {
	background-color: #606060;
	width: 100%;
	height: 100%;
}
.vejrappbg img{
	width: 350px;
}
.oldvejrapp {
	width: 100%;
	padding-top: 20px;
}
.oldvejrapp1div {
	width: 350px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
.oldvejrapp2div {
	width: 350px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
.oldapptext {
	text-align: center;
}
.newvejrapp {
	width: 100%;
	padding-top: 20px;
}
.newvejrapp1div {
	width: 350px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
.newvejrapp2div {
	width: 350px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
.newvejrapp2 {
	width: 350px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
.newvejrapp p {
	text-align: center;
	padding-bottom: 20px;
}
.vejrapptext {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}
.droembg {
	background-color: #606060;
	height: 100%;
	width: 100%;
}
.olddroem1 {
	width: 350px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
.olddroem2 {
	width: 350px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
.newdroem1 {
	width: 350px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
.newdroem2 {
	width: 350px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
.newdroem1div {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}
.newdroem2div {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}
.olddroem {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}
.newdroem {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
}
.droemindhold {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}
.olddroemtext {
	width: 350px;
	text-align: center;
}
.droemtext {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	padding-bottom: 20px;
}
.oldsweet1 {
	width: 350px;
	height: 173px;
}
.oldsweet1div {
	width: 350px;
	height: 210px;
	margin-left: auto;
	margin-right: auto;
}
.oldsweettext {
	text-align: center;
}
.newsweet1 {
	width: 350px;
	height: 173px;
}
.newsweettext {
	text-align: center;
}
.newsweet1div {
	width: 350px;
	height: 173px;
	margin-left: auto;
	margin-right: auto;
}
.sweettext {
	padding-top: 30px;
	padding-bottom: 20px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}
.flow1 {
	padding-top: 25px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}
.flow1title {
	text-align: center;
}
.flow2 {
	padding-top: 25px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}
.flow2title {
	text-align: center;
}
.flow3 {
	padding-top: 25px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}
.flow3title {
	text-align: center;
}
.flow4 {
	padding-top: 25px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}
.flow4title {
	text-align: center;
}
.links {
	padding-top: 25px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}
.links p{
	border-bottom: 1px solid black;
	width: 125px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.flow1links {
	width: 125px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}
.flow2links {
	width: 125px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}
.flow3links {
	width: 125px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}
.flow4links {
	width: 125px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}
.vejrappbg {
	background-image: url("../img/mobil-baggrund.png");
	  /* Full height */
  height: 135%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.aboutmebg {
  background-image: url("../img/mobil-baggrund.png");
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.aboutmetext {
	padding-top: 30px;
	padding-bottom: 20px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	
}
.meimg {
	padding-top: 30px;
	padding-bottom: 20px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}
.me {
	width: 350px;
}
.portfoliodiv {
	width: 350px;
}
.newportfolioikon {
	width: 350px;
	padding-top: 50px;
}
.buildbg {
	background-image: url("../img/mobil-baggrund.png");
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	
}
.progresssite {
	color: #cdcdcd;
}
.aboutmesite {
	color: #cdcdcd;
}
.contactli {
	color: #606060;
}
ul {
	list-style: none;
}
.aboutmeli {
	border-bottom: 1px solid black;
	text-align: center;
}
.contactli {
	border-bottom: 1px solid black;
	text-align: center;
}
.contactpage {
	color: #cdcdcd;
}