@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lato');
/* CSS Document */
* {
margin: 0;
padding: 0;
}
html {
	font-family: 'Lato', sans-serif;
}

body, html {
	height: 100%;
	width: 100%;
}

.bg {
  /* The image used */
  background-image: url("../img/forside-baggrund.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.workbg {
  background-image: url("../img/work-background.png");
	  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
	bottom: 30px;
	left: 30px;
	position: absolute;
	transition-duration: 1s;
	filter: brightness(0%);
}
.logo:hover {
	transform: scale(1.2);
	transition-duration: 1;
}

.nav {
	top: 30px;
	right: 275px;
	position: absolute;
	border-bottom: 2px solid black;
	width: 505px;

}
.navdiv {
	position: absolute;
	right: 230px;
	font-size: 2em;
}
.worklogo {
	padding-right: 20px;
	padding-top: 3px;
	float: right;
}
ul {
	list-style: none;
	display: inline-block;
}
li {
	display: inline;
	text-align: center;
	padding-right:10px;
}

.forside-tekst {
	width: 350px;
	top: 30px;
	left: 30px;
	font-size: 2em;
	position: absolute;
	padding-top: 0;
}
.frontpageli {
	text-align: left;
	border-bottom: none;
	transition-duration: 1s;
}
.frontpageli:hover {
	color: #8bd100;
	transition-duration: 1s;
}
.workli {
	transition-duration: 1s;
	text-align: left;
	border-bottom: none;
}
.workli:hover {
	color: #00a3dc;
}
.worklogo {
	width: 200px;
}
.navdivwork {
	list-style: none;
	font-size: 2em;
	width: 505px;
	margin-left: 0;
	margin-right: 0;
	padding-top: 0;
}
.semester1 {
	position: absolute;
	right: 5%;
	top: 250px;
	transition-duration: 1s;
	padding-bottom: 0;
}
.semester1:hover {
	color: #00a3dc;
	transition-duration: 1s;
}
.progressbg {
	  background-image: url("../img/progress.background.png");
	width: 100%;

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	
}
.progresstekst {
	top: 30px;
	left: 30px;
	font-size: 2em;
	position: absolute;
	padding-top: 0;
	width: 550px;
}
.navdivprogress {
	list-style: none;
	font-size: 2em;
	width: 140px;
}
.progressli {
	transition-duration: 1s;
	text-align: left;
	border-bottom: none;
}
.progressli:hover {
	transition-duration: 1s;
	color: #d69b01;
}
u:hover{
	color: #d69b01;
	transition-duration: 1s;
}
u {
	transition-duration: 1s;
}
.progresslogo {
}
.contactbg {
	background-image: url("../img/contact-background.jpg");
	width: 100%;

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
		
}
textarea {
	width: 500px;
	height: 250px;
}
.contactform {
	width: 600px;
}
form {
	margin-right: 0;
	margin-left: 30px;
}
.submitbutton {
	width: 50px;
	margin-left: 225px;
	margin-right: 225px;
}
.contactli {
	transition-duration: 1s;
}
.contactli:hover {
	transition-duration: 1s;
	color: #00368f
}
.semester1bg {
  background-image: url("../img/1semester-background.png");
	  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	
	
}
.indhold {
	width: 850px;
	height: auto;
	padding-top: 100px;
	float: left;
	padding-left: 65px;
	
}
.sweetbotdiv {
	width: 350px;
	padding-top: 10px;
	transition-duration: 1s;
}
.sweetbotdiv:hover {
	transform: scale(1.1);
	transition-duration: 1;
}
.droemdiv {
	width: 350px;
	float: right;
	transition-duration: 1s;
}
.droemdiv:hover {
	transform: scale(1.1);
	transition-duration: 1;
}
.vejrappdiv {
	width: 350px;
	transition-duration: 1s;
}
.vejrappdiv:hover {
	transform: scale(1.1);
	transition-duration: 1;
}
.vejrappikon {
	padding-top: 0;
}
.sweetbotikon {
	padding-top: 0;
	height: 189px;
}
.contactpage {
	padding-right: 0;
}
.navdivfrontpage {
	list-style: none;
	font-size: 2em;
	width: 505px;
	margin-left: 0;
	margin-right: 0;
	padding-top: 0;
	right: 0;
}
.contactbutton {
	padding-right: 0;
}
.navfrontpage {
	right: 0;
}

.vejrappnew2div {
	float: right;
	outline: 1px solid black;
}
.oldvejrapp {
	width: 400px;
	float: right;
}
.newvejrapp {
	width: 400px;
}
.vejrappindhold {
	width: 800px;
	padding-top: 100px;
}
.vejrapptext {
	position: absolute;
	right: 75px;
	top: 150px;
	font-size: 1.5em;
}
.vejrapplogo {
	padding-top: 3px;
	float: right;
	width: 255px;
	height: auto;
}
#vejrapplogo {
	width: 200px;
	height: auto;
}
.oldvejrapp1:hover {
	transform: scale(1.5);
}
.oldvejrapp2:hover {
	transform: scale(1.5);
}
.newvejrapp1:hover {
	transform: scale(1.5);
}
.newvejrapp2:hover {
	transform: scale(1.5);
}